.container-main{
    display: flex;
    margin: 100px 0;
    justify-content: center;
    font-size: 36px;
}

@media only screen and (max-width: 480px) {
    .container-main{
        p{
            text-align: center;
            text-wrap: balance;
        }
}
}